/* Universal Styles Reset */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

/* Global Styles */
:root {
  font-size: 16px;
  --light-gray: rgb(230, 230, 230);
  --tan: rgb(197, 143, 99);
  --tan-hover: rgb(201, 110, 57);
}

.main {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  /* background-color: red; */
  width: 100%;
}

.order-container {
  max-width: 1000px;
  width: 100%;
  margin: 1.5rem;
}

.disabled {
  cursor: not-allowed !important;
  opacity: 0.75;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

/* Fonts */
.montserrat-medium {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.mr-de-haviland-regular {
  font-family: 'Mr De Haviland', cursive;
  font-weight: 400;
  font-style: normal;
}

/* Header Styles */

.mobile-nav-button {
  border: none;
  background-color: transparent;
  display: none;
  padding: 0.5rem;
}

.mobile-nav-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.mobile-nav {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.mobile-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobile-nav button {
  padding: 0;
}

.mobile-nav a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  transition: 0.2s;
}

.mobile-nav-home {
  background-color: transparent;
  border: none;
  font-size: 1.5rem !important;
  color: black;
}

.mobile-nav ul {
  text-align: center;
}

.header-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  border: none;
  background-color: transparent;
  margin-right: 1rem;
  font-size: 1.5rem;
  transition: 0.2s;
  cursor: pointer;
}

.header-link:hover {
  color: var(--tan);
}

.header-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 1.5rem;
  padding: 1.2rem;
  border-radius: 50%;
  background-color: var(--tan);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1000;
  transform: translateY(100%);
  opacity: 0;
}

.active-back-to-top {
  transform: translateY(0);
  opacity: 1;
}

.back-to-top button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  padding: 0;
  cursor: pointer;
}

.back-to-top-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.header-wrapper {
  width: 99.5vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  /* box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px; */
  background-color: white;
  display: flex;
  justify-content: center;
  transition: box-shadow 0.15s;
}

.header-scroll {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
}

.app-header {
  width: 100%;
  max-width: 1200px;
  background-color: white;
  padding: 1.5rem 0rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.nav-hover {
  transition: 0.2s;
  cursor: pointer;
}

.nav-hover:hover {
  color: var(--tan);
}

.nav-home {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
}

.header-nav {
  grid-column: span 2;
  align-self: center;
  justify-self: center;
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  padding: 0;
}

.header-nav ul li a {
  text-decoration: none;
  color: #181717;
  font-weight: 400;
  font-size: 1.1rem;
}

.login-header-wrapper {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
}

.login-button {
  cursor: pointer;
  border: none;
  background-color: var(--tan);
  padding: 0.5rem 1rem;
  border-radius: 50vh;
  color: white;
  font-weight: 00;
  font-family: 'Montserrat', sans-serif;
  transition: 0.2s;
  font-size: 0.85rem;
  text-decoration: none;
}

.register-button {
  cursor: pointer;
  border: 2px solid var(--tan);
  padding: 0.5rem 1rem;
  border-radius: 50vh;
  color: var(--tan);
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  transition: 0.2s;
  font-size: 0.85rem;
  text-decoration: none;
}

.login-button:hover {
  background-color: var(--tan-hover);
}

.register-button:hover {
  background-color: var(--tan-hover);
  border: 2px solid var(--tan-hover);
  color: white;
}

/* Cart Styles */

.cart-head {
  display: flex;
  gap: 1rem;
}

.cart-wrapper {
  padding: 2rem;
  min-width: 20rem;
}

.cart-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.cart-close {
  padding: 0;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background-color: transparent;
  transition: 0.2s;
}

.cart-close:hover {
  color: var(--tan);
}

.cart-item-img {
  width: 6rem;
  height: 6rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}

.cart-item-data {
  max-width: 10rem;
}

.cart-item-data h1 {
  font-size: 1.3rem;
  font-weight: 600;
}

.cart-item-data h2 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.cart-item-data h2::before {
  content: '$';
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
  margin-left: 1rem;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
}

.cart-item-quantity h2 {
  border-left: 1px solid rgb(228, 228, 228);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-right: 1px solid rgb(228, 228, 228);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.cart-item-quantity-icon {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  color: rgb(121, 121, 121);
  transition: 0.2s;
}

.cart-item-quantity-icon:hover {
  color: var(--tan);
}

.cart-div {
  margin-top: 2rem;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  align-items: center;
}

.cart-total h1::before {
  content: '$';
}

.cart-checkout {
  background-color: black;
  border: none;
  color: white;
  padding: 1rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
  margin-top: 1.5rem;
}

.cart-checkout:hover {
  background-color: var(--tan);
}

.cart-item-remove {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: 0.2s;
  padding: 0;
  margin-left: 1rem;
}

.cart-item-remove-icon {
  width: 1.3rem;
  height: 1.3rem;
  margin-bottom: 1.5rem;
  color: rgb(202, 202, 202);
  transition: 0.2s;
}

.cart-item-remove-icon:hover {
  color: var(--tan);
}

.cart-item-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

/* Login + Register Page Styles */

.login-wrapper {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.login-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  width: 50rem;
  height: 30rem;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  margin: 1rem;
}

.login-image {
  height: 100%;
  max-width: 45%;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  object-fit: cover;
  filter: brightness(0.8);
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 55%;
  width: 100%;
  padding: 0 3.5rem;
}

.login-form h1 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.input-control {
  border: none;
  /* padding-left: 1rem; */
  width: 100%;
  font-size: 0.9rem;
}

.input-control:focus {
  outline: none;
}

.form-input {
  display: flex;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
}

.form-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 1rem;
}

.form-button {
  background-color: var(--tan);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 1rem;
}

.form-button:hover {
  background-color: var(--tan-hover);
}

.google-btn-wrapper {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
}

.google-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.form-footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.form-footer a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.form-footer a:hover {
  color: var(--tan);
}

.error {
  color: red;
  font-size: 0.8rem;
  border-bottom: 1px solid red;
}

.error input::placeholder {
  color: red;
}

/* Hero Section Styles */

.hero-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
  margin-top: 7rem;
  list-style: none;
  padding: 0;
}

.hero-list li {
  position: relative;
  background-color: #f1f1f1;
}

.hero-list-top {
  height: 25.625rem;
}

.hero-list-bottom {
  height: 13.625rem;
}

.hero-card {
  overflow: hidden;
  /* width: 100%;
  height: 100%; */
  background-color: #efeff1;
}

.hero-card:hover .hero-img {
  transform: scale(1.1);
}

.hero-text {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.hero-text h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  transition: 0.2s;
  cursor: pointer;
}

.hero-text h3:hover {
  color: var(--tan);
}

.col-span-2 {
  grid-column: span 2;
}

.hero-img {
  transition: 0.3s;
  width: 100%;
  height: 100%;
}

.hero-img-container {
  position: relative;
  overflow: hidden;
}

/* Mid Section Styles */

.section-title {
  margin-top: 6rem;
  font-size: 4rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.section-text {
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
  line-height: 1.75;
}

.about-card {
  margin-top: 4rem;
  margin-bottom: 4rem;
  overflow: hidden;
  position: relative;
  background-color: #f5f5f5;
  min-height: 28rem;
}

#about-img {
  transition: 0.3s;
}

.about-img-container {
  position: relative;
  overflow: hidden;
}

#about-img {
  width: 100%;
  height: 100%;
}

.hover-effect {
  transform: scale(1.1);
  filter: brightness(0.5);
}

.about-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

/* Product List Styles */

.product-skeleton-img {
  width: 18.75rem !important;
  height: 18.75rem !important;
}

.product-list-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-bottom: 4rem;
}

.category-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.category-list li {
  cursor: pointer;
}

.category-list li::after {
  content: '|';
  margin-left: 1rem;
  color: black;
}

.category-list li:last-child::after {
  content: '';
}

.selected {
  color: var(--tan);
}

.product-list-card {
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 0.9rem;
  color: #232323;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.product-list-card h3 {
  margin-top: 1.5rem;
  transition: 0.2s;
  cursor: pointer;
}

.product-list-card h3:hover {
  color: var(--tan);
}

.product-list-card p {
  color: #898989;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.product-list-card img {
  width: 18.75rem;
  height: 18.75rem;
}

.lds-dual-ring {
  /* change color here */
  color: var(--tan);
  grid-column: span 4;
  justify-self: center;
  align-self: center;
  margin-bottom: 10rem;
}
.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.stock-quantity {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  z-index: 100;
}

.product-list-img {
  transition: 0.2s;
}

.hover-effect-2 {
  filter: brightness(0.75);
}

.product-actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: absolute;
  /* width: 100%; */
  left: 25%;
  top: 40%;
  margin: 0 1rem;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
}

.product-list-card .product-list-figure:hover .product-actions {
  transform: translateY(0);
  opacity: 1;
}

.product-anim {
  transform: translateY(0);
  opacity: 1;
}

.product-action-btn {
  background-color: var(--white);
  /* padding: 12px; */
  padding: 0.85rem 0.9rem;
  border-radius: 50%;
  border: none;
  background-color: white;
  cursor: pointer;
}

.product-icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.2s;
}

.product-icon:hover {
  color: var(--tan);
}

.product-list-card .product-list-figure::before {
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.25);
  opacity: 0;
  transition: 0.2s ease;
}

.product-list-card .product-list-figure:hover::before {
  opacity: 1;
}

.has-before {
  position: relative;
  z-index: 1;
}

.has-before::before {
  content: '';
  position: absolute;
}

/* Dialog Styles */

.dialog-content {
  display: flex;
  /* margin: 1rem; */
  margin: 1rem;
  /* min-width: 100rem; */
}

.dialog-figure {
  position: relative;
}

.dialog-content img {
  width: 20rem;
  height: 20rem;
}

.dialog-meta {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dialog-meta-head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.title-exit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock-price {
  display: flex;
  gap: 1rem;
}

.stock-price h3:first-child::after {
  content: '•';
  margin-left: 1rem;
}

.close-dialog-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: 0.2s;
  padding: 0rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.add-to-cart-btn {
  background-color: black;
  color: white;
  padding: 0.75rem 1rem;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  max-width: 10rem;
}

.desc-cart {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Blog Styles */

.blog-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.blog-head-view {
  display: flex;
  gap: 0.5rem;
  transition: 0.2s;
  cursor: pointer;
}

.blog-head-view:hover {
  color: var(--tan);
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
  list-style: none;
  padding: 0;
}

.blog-list li h2 {
  margin-top: 1rem;
  transition: 0.2s;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.blog-list li h2:hover {
  color: var(--tan);
}

.card-meta {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 0.75rem;
  font-size: 0.9rem;
}

.blog-hover {
  transition: 0.2s;
  cursor: pointer;
}

.blog-hover:hover {
  color: var(--tan);
}

.card-meta li::after {
  content: '/';
  margin-left: 0.75rem;
  color: black;
}

.card-meta li:last-child::after {
  content: '';
}

#blogs {
  margin-bottom: 4rem;
}

.blog-sticky {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 0.75rem;
  padding-right: 1rem;
  transform: translateX(+100%);
  transition: 0.4s;
}

.blog-fig {
  position: relative;
  overflow: hidden;
}

.blog-list li:hover .blog-sticky {
  transform: translateX(0);
}

/* Newsletter Styles */

.newsletter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f5;
  padding: 4rem 0;
  margin-bottom: 5rem;
}

.newsletter-head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.newsletter-input-wrapper {
  display: flex;
  position: relative;
}

.arrow-icon-newsletter {
  position: absolute;
  height: 100%;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.arrow-icon-newsletter:hover {
  color: var(--tan);
}

.newsletter-form input {
  border: none;
  padding: 1rem 2rem 1rem 1rem;
  width: 20rem;
  font-size: 1rem;
  /* width: 100%; */
}

.newsletter-form input::placeholder {
  color: #afafaf;
}

/* Order Styles */

.orders-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.orders-head h3 {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}

.orders-head h4 {
  margin-top: 0.5rem;
  color: #898989;
}

.orders-head h3:hover {
  color: var(--tan);
}

.orders-body {
  border: 1px solid #f1f1f1;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.no-orders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.no-orders h4 {
  margin-top: 1rem;
  color: #898989;
}

.order-head {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #f1f1f1;
}

.order-less {
  color: #898989;
  font-weight: 400;
  margin-left: 0.5rem;
}

.order {
  border-bottom: 1px solid #f1f1f1;
}

.order:last-child {
  border-bottom: none;
}

.order-body {
  padding: 1rem;
  /* border-bottom: 1px solid #f1f1f1; */
}

.order-body-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chevron-right {
  height: 1.25rem;
  width: 1.25rem;
  transition: 0.2s;
}

.chevron-anim {
  transform: rotate(90deg);
}

.order-product-img {
  width: 5rem;
  height: 5rem;
}

.order-product {
  display: flex;
  gap: 1.25rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.order-product-meta {
  align-self: center;
}

.order-product-less {
  color: #898989;
  font-weight: 500;
}

.order-products {
  display: none;
}

.order-products-visible {
  display: block;
}

.order-body-view-products {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

/* Footer Styles */

.footer-top {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

.footer-contact {
  margin-top: 1rem;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  margin: 1rem 0rem;
  margin-top: 2rem;
}

.location-info {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.location-info a,
.location-info p {
  text-decoration: none;
  color: black;
  transition: 0.15s;
}

.location-info a p:hover {
  color: var(--tan);
}

.footer-links ul,
.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-links h4,
.footer-social h4 {
  margin-bottom: 1.5rem;
}

.footer-links ul li,
.footer-social ul li {
  margin-bottom: 0.75rem;
  cursor: pointer;
  transition: 0.2s;
}

.footer-links ul li:hover,
.footer-social ul li:hover {
  color: var(--tan);
}

.footer-newsletter form input {
  border: none;
  padding: 0.75rem 0rem;
  width: 100%;
  font-size: 1rem;
  border-bottom: 1px solid rgb(139, 139, 139);
  outline: none;
  transition: 0.2s;
}

.footer-newsletter form input::placeholder {
  color: #afafaf;
}

.footer-newsletter form input:focus {
  border-bottom: 1px solid var(--tan);
}

.footer-newsletter form {
  position: relative;
}

.footer-newsletter h4 {
  margin-bottom: 1.5rem;
}

.footer-newsletter form button {
  right: 0;
}

.socials-info {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
}

.social-icon {
  transition: 0.2s;
  cursor: pointer;
}

.social-icon:hover {
  color: var(--tan);
}

.footer-newsletter ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
}

.footer-newsletter ul li {
  cursor: pointer;
  transition: 0.2s;
}

.footer-newsletter ul li:hover {
  color: var(--tan);
}

@media screen and (max-width: 1250px) {
  html {
    overflow-x: hidden;
  }

  .container,
  .app-header {
    max-width: 1000px;
  }

  .product-list-figure,
  .product-list-figure img {
    width: 15rem;
    height: 15rem;
  }

  .blog-fig,
  .blog-fig img {
    max-width: 20rem;
    max-height: 20rem;
  }

  .hero-list-top,
  .hero-list-bottom,
  .about-card {
    height: auto;
    min-height: auto;
  }
}

@media screen and (max-width: 1065px) {
  .product-skeleton-img {
    width: 15rem !important;
    height: 15rem !important;
  }

  .product-actions {
    left: 20%;
  }

  .container,
  .app-header {
    max-width: 800px;
  }

  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .blog-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .blog-fig,
  .blog-fig img {
    max-width: none;
    max-height: none;
  }

  .blog-list-item {
    justify-self: center;
    display: flex;
    flex-direction: column;
  }

  .blog-list-item:last-child {
    grid-column: span 2;
  }

  .newsletter {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    text-align: center;
  }

  .product-list-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-link {
    margin-right: 0.2rem;
  }
}

@media screen and (max-width: 891px) {
  .order-head {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 875px) {
  .product-actions {
    left: 20%;
  }
  .container,
  .app-header {
    max-width: 600px;
  }

  .product-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
  }

  .newsletter {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    text-align: center;
  }

  .footer-top {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .product-list-head {
    flex-direction: column;
    gap: 2rem;
  }

  .product-list-card:nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog-list {
    grid-template-columns: 1fr;
    gap: 0rem;
  }

  .blog-list-item {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: 2rem;
  }

  .blog-list-item:last-child {
    margin-bottom: 0;
  }

  .blog-fig {
    display: flex;
    justify-content: center;
  }

  .blog-fig img {
    width: 100%;
    height: 100%;
  }

  .hero-list {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .hero-list-top,
  .hero-list-bottom {
    grid-column: span 1 !important;
  }

  .hero-list-top .hero-img-container img {
    height: 20rem;
    object-fit: contain;
  }

  .header-nav ul {
    gap: 2rem;
  }

  .header-nav {
    display: none;
  }

  .app-header {
    grid-template-columns: 1fr 1fr;
  }

  .mobile-nav-button {
    display: flex;
  }
}

@media screen and (max-width: 710px) {
  .dialog-content {
    flex-direction: column;
  }

  .dialog-meta {
    margin-left: 0;
    margin-top: 2rem;
  }

  .dialog-figure {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 655px) {
  .container,
  .app-header {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 585px) {
  .login-image {
    display: none;
  }

  .login-container {
    justify-content: center;
    width: auto;
  }

  .login-form {
    max-width: none;
  }
}

@media screen and (max-width: 545px) {
  :root {
    font-size: 14px;
  }

  .footer-top div {
    grid-column: span 2;
  }

  .product-list-card {
    grid-column: span 2;
  }
}

@media screen and (max-width: 415px) {
  :root {
    font-size: 12px;
  }

  .app-header {
    display: flex;
    justify-content: space-between;
  }

  .login-form h1 {
    font-size: 2.5rem;
  }

  .form-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .input-control {
    font-size: 1.2rem;
  }

  .form-button {
    font-size: 1.2rem;
  }

  .google-link-wrapper {
    font-size: 1.2rem;
  }

  .register-link {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 345px) {
  :root {
    font-size: 11px;
  }
}
